<!DOCTYPE html>
<html>
<head>
  <title>Pinteresting</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!--  the viewport is added below so that the app knows to check that it's on a smaller screen-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <!-- <%= link_to 'about', about_path %>
  <%= link_to 'home', root_path %> -->
  <!--  THE CODE below links to the layouts partial-->
  <%= render 'layouts/header' %>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
